.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom CSS */
.btn {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

.btn:hover {
  cursor: pointer;
}

.employees-header {
  display: flex;
  align-items: center;
}

.employees-header button {
  margin-left: 20px;
  margin-top: 5px;
}

.add-random-btn {
  color: black;
}

.table-employees {
  min-width: 80%;
  font-size: calc(10px + 1vmin);
}

.remove-btn {
  background-color: rgb(201, 11, 11);
  margin-left: 10px;
  color: white;
}

.restore-btn {
  background-color: green;
  color: white;
}